{% extends "myadmin/base.html" %}
{% block title %}Redirect|Delete{% endblock %}
{% load static %}

{% block content %}
<br>
<center>
    <div style="margin:20px">
        <h3> Delete: {{ object.new_path }} </h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure!</strong><br>
            <button class="btn btn-secondary">Delete</button>
        </form>
        <br>
        <a aria-current="page" class="btn btn-secondary" href="{% url 'home' %}">
            Back
        </a>
    </div>
</center>
{% endblock %}