{% extends "myadmin/base.html" %}
{% block title %}Redirect|List{% endblock %}
{% load static %}

{% block content %}
<br>
<div id="groups" style="margin-top:20px;">
    <h6>Redirects</h6>
    <a class="btn btn-outline-secondary" href="{% url 'myadmin-redirect-create' %}" style="float: right;">
        Add
    </a><br>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">New Path</th>

        </tr>
        </thead>
        <tbody>
        {% for redirect in object_list %}
        <tr class="table-light">
            <td>
                <a href="{% url 'myadmin-redirect-detail' redirect.id %}" style="text-decoration: none; color: black">
                    {{ redirect.new_path }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}