{% extends "myadmin/base.html" %}
{% block title %}Redirect|Create{% endblock %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<br>
<form enctype='multipart/form-data' method="POST">
    {% csrf_token %}

    {{ form.media }}
    {% bootstrap_form_errors form %}
    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.site.label }}:</p>
            </div>
            <div class="col">
                {{form.site}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.old_path.label }}:</p>
            </div>
            <div class="col">
                {{form.old_path}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.new_path.label }}:</p>
            </div>
            <div class="col">
                {{form.new_path}}
            </div>
        </div>
    </div>

    <button class="btn btn-primary"> Submit</button>

</form>
{% endblock %}