{% extends "myadmin/base.html" %}
{% block title %}Group|Detail{% endblock %}
{% load static %}
{% block extra-links %}
<li class="nav-item">
    <a aria-current="page" class="nav-link" href="#user">Detail</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#permissions">Permissions</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#users">Users</a>
</li>
{% endblock %}
{% block content %}
<div id="details" style="margin-top:20px;">
    <h6>Detail</h6>
    <a class="btn btn-outline-primary" href="{% url 'myadmin-group-update' object.id %}" style="float: right;">
        Edit
    </a>
    <a class="btn btn-outline-danger" href="{% url 'myadmin-group-delete' object.id %}" style="float: right;">
        Delete
    </a><br>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Group</th>

        </tr>
        </thead>
        <tbody>
        <tr class="table-light">
            <td>{{ object.name }}</td>
        </tr>
        </tbody>
    </table>
</div>
<hr>
{% if object.permissions.count == 0 %}
<h6> No Permissions </h6>
{% else %}
<div id="permissions">
    <h6>Permissions</h6><br>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Permissions</th>

        </tr>
        </thead>
        <tbody>
        {% for perm in object.permissions.all %}
        <tr class="table-light">
            <td>{{ perm.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<br>
<hr>
{% if object.user_set.count == 0 %}
<h6> No Users </h6>
{% else %}
<div id="users">
    <h6>Users</h6><br>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Active</th>
            <th scope="col">Staff</th>
            <th scope="col">Superuser</th>
        </tr>
        </thead>
        <tbody>
        {% for user in object.user_set.all %}
        <tr class="table-light">
            <td>
                <a href="{% url 'myadmin-user-detail' user.id %}" style="text-decoration: none; color: black">
                    {{ user.username }}</a>
            </td>
            <td>{{ user.is_active }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.is_superuser }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<br>
{% endblock %}