{% extends "myadmin/base.html" %}
{% block title %}Flatpage|Update{% endblock %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<br>
<form enctype='multipart/form-data' method="POST">
    {% csrf_token %}

    {{ form.media }}
    {% bootstrap_form_errors form %}
    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.title.label }}:</p>
            </div>
            <div class="col">
                {{form.title}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.url.label }}:</p>
            </div>
            <div class="col">
                {{form.url}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.content.label }}:</p>
            </div>
            <div class="col">
                {{form.content}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.template_name.label }}:</p>
            </div>
            <div class="col">
                {{form.template_name}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.enable_comments.label }}:</p>
            </div>
            <div class="col">
                {{form.enable_comments}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.registration_required.label }}:</p>
            </div>
            <div class="col">
                {{form.registration_required}}
            </div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <div class="row">
            <div class="col-2">

                <p class="form-label">{{ form.sites.label }}:</p>
            </div>
            <div class="col">
                {{form.sites}}
            </div>
        </div>
    </div>

    <button class="btn btn-primary"> Submit</button>

</form>
{% endblock %}