{% extends "myadmin/base.html" %}
{% block title %}Flatpage|detail{% endblock %}
{% load static %}

{% block content %}
<br>
<div id="Pages" style="margin-top:20px;">
    <h6>Pages</h6>
    <a class="btn btn-outline-primary" href="{% url 'myadmin-flatpage-update' object.id %}" style="float: right;">
        Edit
    </a>
    <a class="btn btn-outline-danger" href="{% url 'myadmin-flatpage-delete' object.id %}" style="float: right;">
        Delete
    </a><br>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Title</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light">
            <td>
                {{ object.title }}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    {{ object.content|safe }}

</div>
{% endblock %}