{% extends "myadmin/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}<br>

<div class="container text-center">
    <h5>Entries</h5><br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Today
                </div>
                <div class="card-body">
                    {{ logentry_day }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Month
                </div>
                <div class="card-body">
                    {{ logentry_month }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Year
                </div>
                <div class="card-body">
                    {{ logentry_year }}
                </div>
            </div>
        </div>
    </div>
</div><br>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Entity</th>
        <th scope="col">Object</th>
        <th scope="col">Action</th>
        <th scope="col">Time</th>

    </tr>
    </thead>
    <tbody>
    {% for log in logentry %}
    <tr class="table-light">
        <td>{{ log.user }}</td>
        <td>{{ log.content_type }}</td>
        <td>{{ log.object_id }}</td>
        <td>
            {% if log.action_flag == 1 %} Created {% endif %}
            {% if log.action_flag == 2 %} Changed {% endif %}
            {% if log.action_flag == 3 %} Deleted {% endif %}
        </td>
        <td>{{ log.action_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}