{% extends "myadmin/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Profile|Change{% endblock %}
{% block content %}
{% if user.id != object.user.id %}
{% include '403.html' %}
{% else %}
<br>
<div style="margin:20px">
    <form enctype='multipart/form-data' method="POST">
        {% csrf_token %}

        {{ form.media }}
        {% bootstrap_form_errors form %}
        <div class="form-outline mb-4">
            <div class="row">
                <div class="col-2">

                    <p class="form-label">{{ form.profile_img.label }}:</p>
                </div>
                <div class="col">
                    {{form.profile_img}}
                </div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <div class="row">
                <div class="col-2">

                    <p class="form-label">{{ form.bio.label }}:</p>
                </div>
                <div class="col">
                    {{form.bio}}
                </div>
            </div>
        </div>
        <button class="btn btn-primary"> Submit</button>

    </form>
</div>
{% endif %}
{% endblock %}