{% extends "myadmin/base.html" %}
{% block title %}Site|Detail{% endblock %}
{% load static %}

{% block content %}
<div id="Pages" style="margin-top:20px;">
    <a class="btn btn-outline-primary" href="{% url 'myadmin-site-update' object.id %}" style="float: right;">
        Edit
    </a>
    <a class="btn btn-outline-danger" href="{% url 'myadmin-site-delete' object.id %}" style="float: right;">
        Delete
    </a><br>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Site</th>

        </tr>
        </thead>
        <tbody>
        <tr class="table-light">
            <td>
                {{ object.domain }}
            </td>
        </tr>
        </tbody>
    </table>
    <br>

</div>
{% endblock %}