{% extends "auth/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}User|Change{% endblock %}
{% block content %}
{% if current_user != object.id %}
{% include '403.html' %}
{% else %}
<div class="card text-center" style="margin:100px">
    <div class="card-header">
        <h5>User</h5>
    </div>
    <div class="card-body">

        <form enctype='multipart/form-data' method="POST">
            {% csrf_token %}

            {{ form.media }}
            {% bootstrap_form_errors form %}
            <div class="form-outline mb-4">
                <div class="row">
                    <div class="col-2">

                        <p class="form-label">{{ form.username.label }}:</p>
                    </div>
                    <div class="col">
                        {{form.username}}
                    </div>
                </div>
            </div>

            <div class="form-outline mb-4">
                <div class="row">
                    <div class="col-2">

                        <p class="form-label">{{ form.first_name.label }}:</p>
                    </div>
                    <div class="col">
                        {{form.first_name}}
                    </div>
                </div>
            </div>

            <div class="form-outline mb-4">
                <div class="row">
                    <div class="col-2">

                        <p class="form-label">{{ form.last_name.label }}:</p>
                    </div>
                    <div class="col">
                        {{form.last_name}}
                    </div>
                </div>
            </div>

            <button class="btn btn-primary"> Submit</button>

        </form>
    </div>
</div>
{% endif %}
{% endblock %}