{% extends "myadmin/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}User|Delete{% endblock %}
{% block content %}
{% if current_user != object.id %}
{% include '403.html' %}
{% else %}
<center>
    <div style="margin:20px">
        <h3> Delete: {{ object.username }} </h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure!</strong><br>
            <button class="btn btn-secondary">Delete</button>
        </form>
        <br>
        <a aria-current="page" class="btn btn-secondary" href="{% url 'home' %}">
            Back
        </a>
    </div>
</center>
{% endif %}
{% endblock %}