{% extends "myadmin/base.html" %}
{% block title %}User|Detail{% endblock %}
{% load static %}

{% block extra-links %}
<li class="nav-item">
    <a aria-current="page" class="nav-link" href="#user">Detail</a>
</li>
<li class="nav-item">
    <a aria-current="page" class="nav-link" href="#profile">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#groups">Groups</a>
</li>
{% if permissions != object.user_permissions.count %}
<li class="nav-item">
    <a class="nav-link" href="#permissions">Permissions</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="#Activities">Activities</a>
</li>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div id="user">
        <br>
        <h6>Details</h6>
        <a class="btn btn-outline-primary" href="{% url 'myadmin-user-update' object.id %}" style="float: right;">
            Edit
        </a>
        <a class="btn btn-outline-danger" href="{% url 'myadmin-user-delete' object.id %}" style="float: right;">
            Delete
        </a>
        <br>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
                <th scope="col">Active</th>
                <th scope="col">Staff</th>
                <th scope="col">Superuser</th>

            </tr>
            </thead>
            <tbody>
            <tr class="table-light">
                <td>{{ object.username }}</td>
                <td>{{ object.first_name }}</td>
                <td>{{ object.last_name }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.phone_number }}</td>
                <td>{{ object.is_active }}</td>
                <td>{{ object.is_staff }}</td>
                <td>{{ object.is_superuser }}</td>

            </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div id="profile">
        <br>
        <h6>Profile</h6>
        <br>
        <a href="{% url 'profile_change' profile.id %}">
            <img alt="..." id="profile-image"
                 src="{% if profile.profile_img %}{{ profile.profile_img.url }}{% else %}{% static 'images/grey.png' %}{% endif %}">
        </a>
        <br><br>
        {{ profile.bio|safe }}<br>
        <p><small>Joined In: {{ profile.user.date_joined }}</small></p>
    </div>

    <hr>

    <div id="groups">
        <h6>Groups</h6><br>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Group</th>

            </tr>
            </thead>
            <tbody>
            {% for group in object.groups.all %}
            <tr class="table-light">
                <td>{{ group.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    {% if permissions == object.user_permissions.count %}
    <h6>{{ object.first_name }} {{ object.last_name}} has all permissions</h6><br>
    {% else %}

    <hr>
    <div id="permissions">
        <h6>Permissions</h6><br>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Permissions</th>

            </tr>
            </thead>
            <tbody>
            {% for perm in object.user_permissions.all %}
            <tr class="table-light">
                <td>{{ perm.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    {% endif %}

    <hr>

    <div id="Activities">
        <h6>Activities</h6><br>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Entity</th>
                <th scope="col">Object</th>
                <th scope="col">Action</th>
                <th scope="col">Time</th>

            </tr>
            </thead>
            <tbody>
            {% for log in page_obj %}
            <tr class="table-light">
                <td>{{ log.content_type }}</td>
                <td>{{ log.object_id }}</td>
                <td>
                    {% if log.action_flag == 1 %} Created {% endif %}
                    {% if log.action_flag == 2 %} Changed {% endif %}
                    {% if log.action_flag == 3 %} Deleted {% endif %}
                </td>
                <td>{{ log.action_time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div><br>
{% endblock %}